<!DOCTYPE html>
<html>
<head>
<title>Health+</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- css -->
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
<link href="{{ url_for('static', filename='css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- //css -->

<!-- js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/numscroller-1.0.js') }}"></script>

<!-- //js -->


<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- //fonts -->

	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->

<!--start-date-piker-->
	<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
		<script>
			$(function() {
				$( "#datepicker,#datepicker1" ).datepicker();
			});
		</script>
<!--/End-date-piker-->
	<script src="{{ url_for('static', filename='js/responsiveslides.min.js') }}"></script>


<!--animate-->
<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
</head>


<body>
<!-- header -->
<div class="header wow zoomIn">
	<div class="container">
		<div class="header_left" data-wow-duration="2s" data-wow-delay="0.5s">
			<ul>
				<li><a href="tel:0240-248-1097"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0240-248-1097</a></li>
				<li><a href="mailto:reception@health+.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>reception@health+.com</a></li>
			</ul>
		</div>
		<div class="header_right">
			<div class="login">
				<ul>
					{% if user %}
					<li><a href="/dashboard"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ user }}</a></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Logout</a></li>
					{% else %}											 
					<li><a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Login</a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Signup</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header -->
<div class="header-bottom ">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo grid">
						<div class="grid__item color-3">
							<h1><a class="link link--nukun" href="{{ url_for('index')}}"><i></i>HEA<span>L</span>TH+</a></h1>
						</div>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--horatio">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item menu__item--current"><a href="{{ url_for('index')}}" class="menu__link">Home</a></li>
							<li class="menu__item"><a href="{{ url_for('facilities')}}" class="menu__link">Facilities</a></li>
							<li class="menu__item"><a href="{{ url_for('about')}}" class="menu__link">About</a></li>
							<li class="menu__item"><a href="{{ url_for('contact')}}" class="menu__link">Contact</a></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>

<!-- banner -->
<div class="banner">
				<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						 // Slideshow 4
						$("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
						$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
							}
							});
						});
				</script>
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="banner1">
					</div>
				</li>
				<li>
					<div class="banner3">
					</div>
				</li> 
				<li>
					<div class="banner4">
						<div class="container">
							<div class="banner-info">
							<h3 class="text-center carousel-caption">CENTER FOR ADVANCED LAPROSCOPIC PROCEDURES</h3>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
</div>
<!-- //banner -->

<!-- content -->
<div class="content">
	<div class="container">
		<div class="col-md-4 content_right wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
			<img class="img-responsive" src="{{ url_for('static', filename='images/pic1.jpg') }}" alt=" " />
		</div>
		<div class="col-md-4 content_left wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
			<div class="welcome">
				<h3>Welcome To Health+</h3>
				<ul>
					<li><a href="#">Advanced Laproscopy</a></li>
					<li><a href="#">Pediatric Surgery</a></li>
					<li><a href="#">Cancer Treatment</a></li>
					<li><a href="#">Breast Clinic</a></li>
					<li><a href="#">Endo-Urology Clinic</a></li>
					<li><a href="#">Proctology Clinic</a></li>
					<li><a href="#">Sclerotherapy Clinic</a></li>
				</ul>
			</div>
		</div>
		<div id="book" class="col-md-4 content_middle wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
			<h3>Book An Appointment</h3>
			<form action="book_appointment" method="post">
				<input type="text" name="book_name" placeholder="Name" required="">
				<input type="text" name="book_email" placeholder="Email" required="">
				<input class="date" name="book_date" id="datepicker" type="text" placeholder="10/19/2016"  required="">
				<select name="book_type" id="country" onchange="change_country(this.value)" class="frm-field required sect" required="">
					<option value="" style="display:none" disabled selected>Select Department</option>
					<option value="Health Care">Health Care</option> 
					<option value="Body Checkup">Body Checkup</option>					
					<option value="Out Patient">Out Patient</option>
					<option value="Surgery">Surgery</option>											
				</select>
							<div>
								{% with messages = get_flashed_messages(category_filter=["error"]) %}
								  	{% if messages %}
								    	<ul class=flash>
									   		{% for error in messages %}
										   		<h4 style="color:red"> {{ error }} </h4>
											{% endfor %}
										</ul>
									{% endif %}
								{% endwith %}
								{% with messages = get_flashed_messages(category_filter=["success"]) %}
								  	{% if messages %}
								    	<ul class=flash>
									   		{% for error in messages %}
										   		<h4 style="color:green"> {{ error }} </h4>
											{% endfor %}
										</ul>
									{% endif %}
								{% endwith %}								
							</div>
							<br>

				<input type="submit" value="Book Now">
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //content -->
<!-- services -->
<div class="services">
	<div class="container">
		<div class="col-md-4 services_left wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
			<h3>Our Best Services</h3>
			<p class="ser-para" >We at Health+, understand the needs of the patient. Patient care is our first priority.</p>
			<a href="{{ url_for('about')}}" class="hvr-outline-out button2">See More About Us</a>
				<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						 // Slideshow 4
						$("#slider4").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
						$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
							}
							});
						});
				</script>
			<div  class="callbacks_container">
				<ul class="rslides" id="slider4">
					<li>
						<div class="ser-bottom">
							<h5>Excellent service and care. State of the art facility</h5>
							<p>- Shubham J.</p>
						</div>
					</li>
					<li>
						<div class="ser-bottom">
							<h5>The best in the city!</h5>
							<p>- Amit M.</p>
						</div>
					</li>
					<li>
						<div class="ser-bottom">
							<h5>The doctors are the best. Never felt away from home.</h5>
							<p>- Shilpa K.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-8 services_right ">
			<div class="list-left text-center wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<h4>Emergency Services</h4>
			</div>
			<div class="list-left text-center wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
				<span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
				<h4>Cancer Treatment</h4>
			</div>
			<div class="list-left text-center no_marg wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.3s">
				<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
				<h4>Intensive Care Unit</h4>
			</div>
			<div class="list-left text-center no_marg wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.4s">
				<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
				<h4>24X7 Services</h4>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //services -->

<!-- capabilities -->
<div class="capacity">
	<div class="container">
		<h3>Capabilities</h3>
		<div class="col-md-4 capabil_grid1 wow fadeInDownBig animated animated text-center" data-wow-delay="0.4s">
			<div class="capil_text">
				<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='5700' data-delay='.5' data-increment="100">5700</div>
				<p>Happy Patients</p>	
			</div>
		</div>
		<div class="col-md-4 capabil_grid2 wow fadeInUpBig animated animated text-center" data-wow-delay="0.4s">
			<div class="capil_text">
				<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='370' data-delay='.5' data-increment="5">370</div>
				<p>Our Staff</p>	
			</div>
		</div>
		<div class="col-md-4 capabil_grid4 wow fadeInUpBig animated animated text-center" data-wow-delay="0.4s">
			<div class="capil_text">
				<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1500' data-delay='.5' data-increment="1">1500</div>
				<p>Clients</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //capabilities -->
<!-- contact -->
<div class="contact">
	<div class="container">
		
		<div class="col-md-6 contact-right wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s">
			<h3>Contact Us</h3>
			<div class="strip"></div>
			<ul class="con-icons">
				<li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+91 8888826243</li>
				<li><a href="reception@health+.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>reception@health+.com</a></li>
			</ul>
			<ul class="fb_icons">
				<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
				<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
				<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
			</ul>
			<h3>Newsletter Sign up</h3>
			<div class="strip"></div>
			<form action="#" method="post">
				<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
				<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
				<input type="submit" value="Submit">
			</form>
		</div>
		<div class="col-md-6 contact-left wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s">
			<h2>Find Us Here</h2>
			<div class="strip"></div>
			<p class="para">Health+ Hospital and Medical College<br>Sector 23, Chandigarh.</p>
			<p class="copy-right">Designed By -<br> Onkar Singh and Sujay Khandagale</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //contact -->
<!-- login -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
									
									<div class="login-right">
										<h3>Sign in with your account</h3>
										{% with messages = get_flashed_messages(category_filter=["login_error"]) %}
								  	{% if messages %}
								    	<ul class=flash>
									   		{% for error in messages %}
										   		<h4 style="color:red"> {{ error }} </h4>
											{% endfor %}
										</ul>
										<script type="text/javascript">
											$(window).load(function(){
												$('#myModal4').modal('show');
													});
										</script>
									{% endif %}
								{% endwith %}
								{% with messages = get_flashed_messages(category_filter=["login_success"]) %}
								  	{% if messages %}
								    	<ul class=flash>
									   		{% for error in messages %}
										   		<h4 style="color:green"> {{ error }} </h4>
											{% endfor %}
										</ul>
									{% endif %}
								{% endwith %}



										<form action="login" method="post">
											<!-- <div class="sign-in">
											{% with messages = get_flashed_messages(category_filter=["login"]) %}
											  {% if messages %}
											    <ul class=flash>
											    {% for error in messages %}
											    	<h4 style="color:red"> {{ error }} </h4>
											     {% endfor %}
											    </ul>
											  {% endif %}
											{% endwith %}
											</div> -->

											<div class="sign-in">
												<br><h4>Email :</h4>
												<input type="text" name="email" placeholder="Type here" required="">	
											</div>
											<div class="sign-in">
												<h4>Password :</h4>
												<input type="password" name="password" placeholder="Password" required="">
												<a href="#">Forgot password?</a>
											</div>
											<div class="single-bottom">
												<input type="checkbox"  id="brand" value="">
												<label for="brand"><span></span>Remember Me.</label>
											</div>
											<div class="sign-in">
												<input type="submit" value="SIGNIN" >
											</div>
										</form>
									</div>
									
								<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- //login -->
<!-- login -->
			<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
									<div class="login-bottom">
										<h3>Sign up for free</h3>
										{% with messages = get_flashed_messages(category_filter=["register_error"]) %}
								  	{% if messages %}
								    	<ul class=flash>
									   		{% for error in messages %}
										   		<h4 style="color:red"> {{ error }} </h4>
											{% endfor %}
										</ul>
										<script type="text/javascript">
											$(window).load(function(){
												$('#myModal5').modal('show');
													});
										</script>
									{% endif %}
								{% endwith %}
										{% with messages = get_flashed_messages(category_filter=["register_success"]) %}
								  	{% if messages %}
								    	<ul class=flash>
									   		{% for error in messages %}
										   		<h4 style="color:green"> {{ error }} </h4>
											{% endfor %}
										</ul>
										<script type="text/javascript">
											$(window).load(function(){
												$('#myModal5').modal('show');
													});
										</script>
									{% endif %}
								{% endwith %}
										<form action="register" method="post">
											<div class="sign-up">
											<!-- <div class="sign-up">
											{% with messages = get_flashed_messages(category_filter=["register"]) %}
											  {% if messages %}
											    <ul class=flash>
											    {% for error in messages %}
											    	<h4 style="color:red"> {{ error }} </h4>
											     {% endfor %}
											    </ul>
											  {% endif %}
											{% endwith %}
											</div> -->
												<br><h4>Email :</h4>
												<input type="text" name="email" placeholder="Type here" required="">	
											</div>
											<div class="sign-up">
												<h4>Password :</h4>
												<input type="password" name="password" placeholder="Password" required="">
												
											</div>
											<div class="sign-up">
												<h4>Re-type Password :</h4>
												<input type="password" name="retype_password" placeholder="Password" required="">
												
											</div>
											<div class="sign-up">
												<h4>Name :</h4>
												<input type="text" name="patient_name" placeholder="Enter your name" required="">
												
											</div>
											<div class="sign-up">
												<h4>Age :</h4>
												<input type="text" name="patient_age" placeholder="Enter your age" required="">
												
											</div>
											<div class="sign-up">
												<h4>Sex :</h4>
												<select name="patient_sex" required="">
													<option value="none">Select an option</option>
													<option value="M">Male</option>
													<option value="F">Female</option>
													<option value="Other">Other</option>
												</select>
											</div>
											<div class="sign-up">
												<h4>Blood Group :</h4>
												<input type="text" name="patient_blood_group" placeholder="Enter Blood Group" required="">
												
											</div>
											<div class="sign-up">
												<h4>Weight :</h4>
												<input type="text" name="patient_weight" placeholder="Enter your weight" required>
												
											</div>
											<div class="sign-up">
												<h4>Contact Number :</h4>
												<input type="text" name="patient_contact" placeholder="Enter Contact No" required="">
												
											</div>
											<div class="sign-up">
												<input type="submit" value="REGISTER NOW" >
											</div>

											
										</form>
									</div>
								<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- //login -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-3.1.1.min.js') }}"></script>
</body>
</html>

